# Переменные для PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=mydatabase

# Переменные для FastAPI бэкенда
DATABASE_URL=postgresql://user:changeme@db/mydatabase
SECRET_KEY=a_very_secret_key_that_should_be_changed
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
